<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - datamesh_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/regular.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white border">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pt-5 pb-3 mb-md-5 me-md-auto text-grey text-decoration-none">
                    <i class="fa-solid fa-cube"></i>
                    <span class="fs-5 d-none d-sm-inline">&nbsp;datamesh</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-bars"></i> <span class="ms-1 d-none d-sm-inline">Modules</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Dataproduct" asp-action="DataproductIndex">
                            <i class="fa-solid fa-industry"></i> Dataproduct
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DataDomain" asp-action="DataDomainIndex">
                            <i class="fa-solid fa-industry"></i> DataDomain
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3 border bg-light">
            @RenderBody()
        </div>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>