@model DataDomainModel

@using (Html.BeginForm("DataDomainCreate", "DataDomain", FormMethod.Post))
{

<div class="container">
    <div class="row px-3 my-4 py-2 rounded-15">
        <h3>Create a new Datadomain</h3>
    </div>
</div>

<div class="container">
    <div class="row px-3 py-4 rounded-5 bg-white">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            @Html.TextBoxFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>Key</td>
                        <td>
                            @Html.TextBoxFor(model => model.Key)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Submit"/>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>

}