@model DataDomainModel

@using (Html.BeginForm("DataDomainCreate", "DataDomain", FormMethod.Post))
{

<div class="container">
    <div class="row px-3 my-4 py-2 rounded-15">
        <h3>Create a new Datadomain</h3>
    </div>
</div>

<div class="container">
    <div class="row px-3 py-4 rounded-5 bg-white">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    
    <div class="row px-3 py-4 rounded-5 bg-white">
        <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="Key" class="form-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="NameAbbrevationLong" class="form-label"></label>
                <input asp-for="NameAbbrevationLong" class="form-control" />
                <span asp-validation-for="NameAbbrevationLong" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="NameAbbreviationShort" class="form-label"></label>
                <input asp-for="NameAbbreviationShort" class="form-control" />
                <span asp-validation-for="NameAbbreviationShort" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="SubscriptionName" class="form-label"></label>
                <input asp-for="SubscriptionName" class="form-control" />
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="SubscriptionId" class="form-label"></label>
                <input asp-for="SubscriptionId" class="form-control" />
                <span asp-validation-for="SubscriptionId" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="DevOpsProjectName" class="form-label"></label>
                <input asp-for="DevOpsProjectName" class="form-control" />
                <span asp-validation-for="DevOpsProjectName" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <input type="submit" value="Submit" class="btn btn-outline-success my-3"/>
        </div>
    </div>
</div>

}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}