@model DataDomainModel

<div class="container">
    <div class="row px-3 my-4 py-2 rounded-15">
        <h3>Datadomain - @Model.Name</h3>
    </div>
</div>

<div class="container">
    <div class="row px-3 py-4 rounded-5 bg-white">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Key</td>
                        <td>@Model.Key</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>