@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row px-3 my-4 py-2 rounded-15">
        <h3>Data Mesh</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>What is Data Mesh?</h4>
            <p>
                Data Mesh is a new paradigm for data processing. It is a way to build a data platform that is scalable, flexible, and secure.
            </p>
        </div>
    </div>
</div>
